@tailwind base;
@tailwind components;
@tailwind utilities;

img{
  max-height: 100%;
}

*{
  font-family: 'Manrop', sans-serif;
  font-weight: 700;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
